// CREATE FORM PAGE SCSS

.create-form-wrapper {

    border-top: 2px solid var(--primary-color);
    display: flex;
    height: 100%;
    overflow-y: hidden;
    height: 100%;
       
    .side-menu-wrapper {

        max-width: 300px;
        background-color: var(--background-color);
        -webkit-overflow-scrolling: touch;
        overflow-y: scroll;

        .side-menu-header {

            border-bottom: 2px solid var(--primary-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1rem;

            h3 {
                font-size: 1.5rem;
                font-weight: bold;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    .form-preview {
        background-color: white;
        width: 100%;
        height: calc(100vh - 72px);
        overflow-y: scroll;
    }

}