// CREATE FORM PAGE SCSS

.create-form-wrapper {
  border-top: 2px solid var(--primary-color);
  display: flex;
  height: 100%;
  overflow-y: hidden;
  height: 100%;

  .side-menu-wrapper {
    max-width: 300px;
    min-width: 300px;
    background-color: var(--background-color);
    -webkit-overflow-scrolling: touch;
    height: calc(100vh - 72px);
    overflow-y: scroll;

    .side-menu-header {
      border-bottom: 2px solid var(--primary-color);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0.5rem;

      h3 {
        font-size: var(--bodytext);
        font-weight: bold;
      }

      svg {
        font-size: 1.2rem;
        transition: all 0.2s ease-in-out;
      }

      .plusAnimation {
        transform: rotate(45deg);
      }
    }
  }
}
