// This hack is to increase the specifity to overide other styles
.buttonStyle.buttonStyle {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 6px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100px;
    gap: 10px;

    & span {
        font-weight: 800;
    }

    .arrow-btn {
        transition: transform 0.3s ease-in-out;
    }

    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--secondary-color);
        box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.35);

        .arrow-btn {
            animation: pulse 1s infinite;
        }
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
}