nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 20;
        background-color: var(--secondary-color);
    
        a {
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
        }
    }

    .hamburger {
        cursor: pointer;
        padding: 14px 16px;

        svg {
            font-size: 60px;
        }
    }
}

.display-block {
    display: block;
}
