.sideMenuNewObjects {
    label {
        font-size: var(--bodytext);
        font-weight: bold;
        // margin-bottom: 0.5rem;
    }

    input {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem;
        // font-size: 1rem;
        margin-bottom: 1rem;
    }
}