$primary-color: #4159b9;

.logo-placement {
  display: flex;
  justify-content: center;
}

.cl-formButtonPrimary {
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 15%);
    border: 2px solid
  }
}
