// HOME / LANDING PAGE SCSS

.hero {
  background-color: var(--background-color);
  position: relative;
  min-height: 60vh;

  h1 {
    position: absolute;
    top: 16.5%;
    left: 0;
    z-index: 20;
    font-size: clamp(#{var(--subhead)}, 5vw, #{var(--heading)});
    font-weight: 800;
    color: var(--text-color);

    span {
      color: var(--primary-color);
      border: 4px solid var(--primary-color);
      cursor: pointer;
      background-color: var(--text-color);
      border-radius: 20px;
      padding: 0.2em 3em 0.2em 0.2em;
      &::after {
        content: "";
        position: absolute;
        top: 57%;
        left: 67%;
        width: 3px;
        height: clamp(38px, 5.5vw, 60px);
        background-color: black;
        animation: blinkAnimation 1.2s infinite;
      }
    }

    @keyframes blinkAnimation {
      0% {
        opacity: 0;
      }
      55% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  p {
    position: absolute;
    bottom: clamp(10%, 40%, 26%);
    left: 0;
    font-size: var(--bodytext);
    max-width: 740px;
    min-width: 280px;
    padding-right: 70px;
    font-size: clamp(0.75rem, 0.5833rem + 0.8889vw, #{var(--bodytext)});
  }

  .arrow-btn {
    position: absolute;
    bottom: clamp(10%, 40%, 26%);
    right: 0;
    min-width: 70px;
    min-height: 70px;
  }
}

.landingPageSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 30px;

  p {
    max-width: 300px;
  }

  img {
    aspect-ratio: 16/10;
    border-radius: 5px;
    box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.35);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    div:nth-child(3) {
      grid-row: 2;
      grid-column: 2;
    }

    div:nth-child(4) {
      grid-row: 2;
      grid-column: 1;
    }
  }
}
