.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 3rem;
  
  .title {
    font-size: clamp(var(--bodytext), -0.179rem + 3.81vw, var(--heading));
    margin-bottom: 2rem;
  }

  p {
    font-size: clamp(var(--smalltext), 0.393rem + 0.952vw, var(--bodytext));

    .link {
      color: var(--primary-color);
      text-decoration: none;
    
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

